body {

  background-image: url('../images/grocery-store.png');
  background-size: cover;

  .login.form {
    float: right;


    .inline.fields {
      .field {
        label {
          color: white;
        }
      }

      margin: 0;
    }
  }

  .splash {

    .inverted.segment {
      background-color: $blue;
    }

    .welcome.container {
      position: absolute;
      right: 20%;
      bottom: 20%;

      .segment {

        background-color: $green;

        &.first {
          margin-right: 10em;
        }
        &.second {
          float: right;
        }
      }
    }
  }

  #signup {
    margin: 0 auto;
    position: relative;
    top: 10em;
    max-width: 52em;
  }
}
