<!DOCTYPE html>
<html>
<head>
  <title>PromoteLiving</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css" media="screen" rel="stylesheet" />
  <link href="<%= gulp_css_path('app.css') %>" media="screen" rel="stylesheet" />
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <script src="<%= gulp_js_path('index.js') %>"></script>
</body>
</html>
