<!DOCTYPE html>
<html>
<head>
  <title>PromoteLiving</title>
  <link href="<%= gulp_asset_path('bundle.css') %>" media="screen" rel="stylesheet" />
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <script src="<%= gulp_asset_path('bundle.js') %>"></script>
</body>
</html>
